<div class="container">  <!-- この行を追加 -->
   <div class="row">
      <div class="col-lg-12 text-center" >
        <h2>お問い合わせありがとうございます</h2>
        <p>ご記入していただいた情報は無事に送信されました。</p>
        <span><%= link_to "トップページに戻る", root_path, class:"btn btn-success" %></span>
     </div>
   </div>
</div>